
PORT=3001
MONGODB_URI=mongodb+srv://admin:admin123@cluster0.lh2x0py.mongodb.net/meatapp
ADMIN_EMAIL=admin@example.com
ADMIN_PASSWORD=admin123
RAZORPAY_KEY_ID=rzp_test_Se8fJ73HC9pUCW
RAZORPAY_KEY_SECRET=your_secret_key